*/__pycache__
GUI/Model/__pycache__
GUI/TimelineTrackWidgets/__pycache__
GUI/UI/__pycache__
**/__pycache__
**/.DS_Store
BehavioralBoxDatabase.db
BehavioralBoxDatabase - VideoFiles -11-20-2019 1105am All.db
BehavioralBoxDatabase - VideoFiles - 11-20-2019 11am.db
